<div class="container-fluid">
  <div class="col-xs-12 col-sm-10 offset-sm-1">
    <div id="reviews" class="card bg-light">
      <h1 class="card-header">
        <a routerLink="/movie/{{ movieId }}">
          <i class="material-icons">chevron_left</i>
        </a>
        Reviews for {{ movie.Title }}
      </h1>

      <div class="card-body">
        <div class="row m-3 border-bottom" *ngFor="let review of reviews">
          <app-review [review]="review"></app-review>

        </div>
      </div>

    <!--<nav aria-label="Page navigation">-->
    <!--<ul class="pagination">-->
    <!--<li>-->
    <!--<a href="" (click)="" aria-label="Previous">-->
    <!--<span aria-hidden="true">&laquo;</span>-->
    <!--</a>-->
    <!--</li>-->

    <!--<li *ngFor="let page of pages">-->
    <!--<a href="" (click)="">{{page}}</a>-->
    <!--</li>-->

    <!--<li>-->
    <!--<a href="" (click)="" aria-label="Next">-->
    <!--<span aria-hidden="true">&raquo;</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->
    </div>
  </div>
</div>
