<div class="container">
  <div class="row">
    <div class="col">
      <h2>Notifications</h2>
    </div>
  </div>
  <div class="row border">
    <div class="col-2">
      <a href="#">
      <img class="img-fluid float-right" src="../../assets/notifications_img_placeholder.png" style="max-height: 75px">
      </a>
    </div>
    <div class="col-9">
      <a href="#">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet, felis id ultrices vulputate, turpis risus mattis massa, id tincidunt ligula dui sed turpis.</span>
      </a>
    </div>
  </div>
  <div class="row border">
    <div class="col-2">
      <a href="#">
      <img class="img-fluid float-right" src="../../assets/notifications_img_placeholder.png" style="max-height: 75px">
      </a>
    </div>
    <div class="col-9">
      <a href="#">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet, felis id ultrices vulputate, turpis risus mattis massa, id tincidunt ligula dui sed turpis.</span>
      </a>
    </div>
  </div>
  <div class="row border">
    <div class="col-2">
      <a href="#">
      <img class="img-fluid float-right" src="../../assets/notifications_img_placeholder.png" style="max-height: 75px">
      </a>
    </div>
    <div class="col-9">
      <a href="#">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet, felis id ultrices vulputate, turpis risus mattis massa, id tincidunt ligula dui sed turpis.</span>
      </a>
    </div>
  </div>
</div>