div.container {
    text-align: center;
}

@media(min-width: 768px) {
    div.description {
        text-align: left;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

div.mb-2 {
    border: 1px solid lightslategray;
}
  div.mb-2:hover {
      background-color: lightgoldenrodyellow;
  }
