<div class="container mt-2">
  <form #searchForm="ngForm" (ngSubmit)="searchByKeyword(searchForm, $event)"> 
    <div class="form-row align-items-center">
      <div class="col-0 col-sm-1"></div>
      <div class="col-9">
        <input class="form-control" name="search" type="search" placeholder="Search movie info..." aria-label="Search" ngModel>
      </div>
      <div class="col-3 col-sm-1 ml-0">
        <button class="btn btn-outline-warning pull-left" type="submit">Search</button>
      </div>
      <div class="col-0 col-sm-1"></div>
    </div>
  </form>
  <div *ngIf="results" class="mt-3">
    <div class="row mb-2 border" *ngFor="let result of results">
      <div class="col-12 col-md-3" style="text-align: center">
        <a href="#">
        <img src="{{ result.Poster }}" class="img-fluid img-thumbnail" alt="Poster for {{ result.Title }}" style="max-height: 100px">
        </a>
      </div>
      <div class="description col-12 col-md-9">
        <a href="#">
        <h4>{{ result.Title }} ({{ result.Year}})</h4>
        </a>
        <button type="button" class="btn btn-sm btn-outline-warning" [routerLink]="['/admin/movie/edit/:movie']">Edit Listing</button>
        <!--<a href="#">
        <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum mattis iaculis. In vehicula sapien at orci interdum, eu cursus massa molestie. Suspendisse ullamcorper turpis vel rhoncus faucibus.</span>
        </a>-->
      </div>
    </div>
  </div>
</div>