.st-user-thumbnail {
  width: 100%;
  height: auto;

}

.st-navigate-back {
  color: #f8f9fa;
}

#followers h1, #following h1 {
  background-color: #17a2b8;
  color: #f8f9fa;
}

.card-title h4{
  text-align: center;
}

.card-footer {
  text-align: center;
}

.st-icon {
  position: relative;
  top: 5px;
  right: 5px;
  font-size: 20px;
}

#follow-btn, #unfollow-btn {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 3px;
  width: 100%;
}
