<div class="container-fluid justify-content-center">
  <div class="col-xs-10 col-sm-10 offset-xs-1 offset-sm-1">
  <div id="{{ listType }}" class="card bg-light mb-3">
    <h1 class="card-header">
      <a routerLink="/user/{{ uid }}">
        <i class="material-icons st-navigate-back">chevron_left</i>
      </a>
      {{ listTitle }}
    </h1>
    <div class="card-body">
      <div class="card-deck justify-content-center">
        <div  *ngFor="let user of users">
          <div class="card m-3 st-card-wrapper">
            <a routerLink="/user/{{ user.userId }}">
              <div class="card-img-top">
                <img class="st-user-thumbnail" [style.width.px]="user.style.width"
                     [style.height.px]="user.style.height"
                     src="{{ user.profileImage.url }}">
              </div>
              <div class="card-title m-2">
                <h4>{{ user.username }}</h4>
                {{ user.firstName}} {{user.lastName}}
              </div>
            </a>
            <div class="card-footer">
              <div *ngIf="user.isFollowing; else followButton">
                <button id="unfollow-btn" class="btn btn-secondary" (click)="unfollow(user.id)">
                  <i class="material-icons st-icon">remove_circle</i>Unfollow
                </button>
              </div>
              <ng-template #followButton>
                <button id="follow-btn" class="btn btn-secondary" (click)="follow(user.id)">
                  <i class="material-icons st-icon">add_circle</i>Follow
                </button>
              </ng-template>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <!--<nav aria-label="Page navigation">-->
  <!--<ul class="pagination">-->
  <!--<li>-->
  <!--<a href="" (click)="" aria-label="Previous">-->
  <!--<span aria-hidden="true">&laquo;</span>-->
  <!--</a>-->
  <!--</li>-->

  <!--<li *ngFor="let page of pages">-->
  <!--<a href="" (click)="">{{page}}</a>-->
  <!--</li>-->

  <!--<li>-->
  <!--<a href="" (click)="" aria-label="Next">-->
  <!--<span aria-hidden="true">&raquo;</span>-->
  <!--</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</nav>-->
</div>
