<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
<!--</div>-->
<!--<a routerLink="api/hello/string">Get hello string</a>-->
<!--<br />-->
<!--<a routerLink="api/hello/object">Get hello object</a>-->
<!--<br />-->
<!--<a routerLink="api/hello/insert">Insert hello object</a>-->
<!--<br />-->
<!--<a routerLink="api/hello/insert/JPA is awesome">Insert "JPA is awesome"</a>-->
<!--<br />-->
<!--<a routerLink="api/hello/select/all">Select all hello objects</a>-->
<!--<br />-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <ng-container *ngIf="currentUser && currentUser.isAdmin === true; else userBrand">
    <a class="navbar-brand" routerLink="/admin/home"><h3>Spoiled Tomatillos</h3></a>
  </ng-container>
  <ng-template #userBrand>
    <a class="navbar-brand" routerLink="/home"><h3>Spoiled Tomatillos</h3></a>
  </ng-template>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- admin navbar (admin pages only) -->
    <ng-container *ngIf="currentUser && currentUser.isAdmin === true; else userNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/home">
            <i class="material-icons">home</i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">add</i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/admin/create">Create New Admin</a>
            <a class="dropdown-item" routerLink="/admin/movie/add">Create New Movie</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/login">Sign Out</a>
        </li>
      </ul>
    </ng-container>

    <!-- end user navbar -->
    <ng-template #userNavbar>
      <form class="form-inline my-2 my-lg-0 mx-auto" #searchForm="ngForm" (ngSubmit)="performSearch(searchForm, $event)">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search..." aria-label="Search" ngModel>
        <button routerLink="/search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="currentUser && currentUser.username; else loginDropdown">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">
              <i class="material-icons">home</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/{{ currentUser.id}}">
              <i class="material-icons">person</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/notifications">
              <i class="material-icons">notifications</i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/settings">Account Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Sign Out</a>
            </div>
          </li>
        </ng-container>

        <ng-template #loginDropdown>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">
              Register
            </a>
          </li>
        </ng-template>

      </ul>
    </ng-template>
  </div>
</nav>
<router-outlet></router-outlet>
