<div class="container mt-2">
  <div *ngIf="results" class="mt-3">
    <div class="row mb-2 border" *ngFor="let result of results">
      <div class="col-12 col-md-3" style="text-align: center">
        <a href="#">
        <img src="{{ result.Poster }}" class="img-fluid img-thumbnail" alt="Poster for {{ result.Title }}" style="max-height: 250px">
        </a>
      </div>
      <div class="description col-12 col-md-9">
        <a href="#">
        <h1>{{ result.Title }} ({{ result.Year}})</h1>
        </a>
        <button type="button" class="btn btn-warning">Add to watchlist</button>
        <br>
        <a href="#">
        <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum mattis iaculis. In vehicula sapien at orci interdum, eu cursus massa molestie. Suspendisse ullamcorper turpis vel rhoncus faucibus. Phasellus augue lorem, pretium sed ornare non, scelerisque id orci. Quisque fringilla, nibh molestie imperdiet placerat, dolor orci varius massa, non congue massa velit vel enim. Aenean pellentesque placerat ex, vitae tincidunt dolor lobortis nec. In in lectus tincidunt, pulvinar lacus vitae, semper orci.</span>
        </a>
      </div>
    </div>
  </div>
</div>