<div class="container">
  <div class="row">
    <div class="col"><h2>Movie Recommendations</h2></div>
  </div>
  
  <!-- for each -->
  <!-- Movie result set -->
  <div class="mt-3">
      <div class="row mb-2 border" *ngFor="let result of recommendations | slice:0:25">
        <div class="col-12 col-md-3" style="text-align: center">
          <a href="#" routerLink="/movie/{{ result.Movie.id }}">
          <img src="{{ result.Movie.poster }}" class="img-fluid img-thumbnail" alt="Poster for {{ result.Movie.title }}" style="max-height: 250px">
          </a>
        </div>
        <div class="description col-12 col-md-9">
          <a href="#" routerLink="/movie/{{ result.Movie.id }}">
            <h1>{{ result.Movie.title }}</h1>
          </a>
        </div>
      </div>
    </div>
</div>