<div class="container">
  <div class="row">
    <div class="col"><h2>Movie Recommendations</h2></div>
  </div>
  
  <!-- for each -->
  <div class="row mb-1">
    <div class="col-12 col-md-3" style="text-align: center">
      <a href="#">
      <img src="http://lorempixel.com/300/300" class="img-fluid img-thumbnail" alt="Movie thumbnail" style="max-height: 250px">
      </a>
    </div>
    <div class="description col-12 col-md-9">
      <a href="#">
      <h1>Lion (2016)</h1>
      </a>
      <button type="button" class="btn btn-warning">Add to watchlist</button>
      <br>
      <a href="#">
      <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum mattis iaculis. In vehicula sapien at orci interdum, eu cursus massa molestie. Suspendisse ullamcorper turpis vel rhoncus faucibus. Phasellus augue lorem, pretium sed ornare non, scelerisque id orci. Quisque fringilla, nibh molestie imperdiet placerat, dolor orci varius massa, non congue massa velit vel enim. Aenean pellentesque placerat ex, vitae tincidunt dolor lobortis nec. In in lectus tincidunt, pulvinar lacus vitae, semper orci.</span>
      </a>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-12 col-md-3" style="text-align: center">
      <a href="#">
      <img src="http://lorempixel.com/300/300" class="img-fluid img-thumbnail" alt="Movie thumbnail" style="max-height: 250px">
      </a>
    </div>
    <div class="description col-12 col-md-9">
      <a href="#">
      <h1>Requiem for a Dream (2000)</h1>
      </a>
      <button type="button" class="btn btn-warning">Add to watchlist</button>
      <br>
      <a href="#">
      <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum mattis iaculis. In vehicula sapien at orci interdum, eu cursus massa molestie. Suspendisse ullamcorper turpis vel rhoncus faucibus. Phasellus augue lorem, pretium sed ornare non, scelerisque id orci. Quisque fringilla, nibh molestie imperdiet placerat, dolor orci varius massa, non congue massa velit vel enim. Aenean pellentesque placerat ex, vitae tincidunt dolor lobortis nec. In in lectus tincidunt, pulvinar lacus vitae, semper orci.</span>
      </a>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-12 col-md-3" style="text-align: center">
      <a href="#">
      <img src="http://lorempixel.com/300/300" class="img-fluid img-thumbnail" alt="Movie thumbnail" style="max-height: 250px">
      </a>
    </div>
    <div class="description col-12 col-md-9">
      <a href="#">
      <h1>Amelie (2001)</h1>
      </a>
      <button type="button" class="btn btn-warning">Add to watchlist</button>
      <br>
      <a href="#">
      <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum mattis iaculis. In vehicula sapien at orci interdum, eu cursus massa molestie. Suspendisse ullamcorper turpis vel rhoncus faucibus. Phasellus augue lorem, pretium sed ornare non, scelerisque id orci. Quisque fringilla, nibh molestie imperdiet placerat, dolor orci varius massa, non congue massa velit vel enim. Aenean pellentesque placerat ex, vitae tincidunt dolor lobortis nec. In in lectus tincidunt, pulvinar lacus vitae, semper orci.</span>
      </a>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-12 col-md-3" style="text-align: center">
      <a href="#">
      <img src="http://lorempixel.com/300/300" class="img-fluid img-thumbnail" alt="Movie thumbnail" style="max-height: 250px">
      </a>
    </div>
    <div class="description col-12 col-md-9">
      <a href="#">
      <h1>Black Panther (2018)</h1>
      </a>
      <button type="button" class="btn btn-warning">Add to watchlist</button>
      <br>
      <a href="#">
      <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum mattis iaculis. In vehicula sapien at orci interdum, eu cursus massa molestie. Suspendisse ullamcorper turpis vel rhoncus faucibus. Phasellus augue lorem, pretium sed ornare non, scelerisque id orci. Quisque fringilla, nibh molestie imperdiet placerat, dolor orci varius massa, non congue massa velit vel enim. Aenean pellentesque placerat ex, vitae tincidunt dolor lobortis nec. In in lectus tincidunt, pulvinar lacus vitae, semper orci.</span>
      </a>
    </div>
  </div>
</div>