<div class="container-fluid">
  <div class="hidden-xs col-sm-10 offset-sm-1">
    <div class="row">
    <!-- desktop view - right side displays profile image, bio, followers, following -->
    <div class="col-sm-4">

      <!-- profile image, user info, bio -->
      <div #userInfoContainer id="user-info" class="card bg-light" *ngIf="userProfile">
        <div class="card-header bg-light">
          <h1>{{ userProfile.getUsername() }}</h1>
        </div>
        <div class="card-body">
          <div class="card-img-top st-profile-image mb-3">
            <img class="img-responsive" width="100%" src="{{ userProfile.getPhotoPath() }}">
          </div>
          <div id="bio">
            {{ userProfile.getBio() }}
          </div>
        </div>
      </div>

      <!-- follow -->
      <div #followButton>
          <div>
            <button type="button" class="btn btn-primary" *ngIf="!isFollowingProfileViewer; else remove" (click)="follow()"
              style="width:100%">
                <i class="material-icons">add_to_queue</i> Follow 
            </button>
          </div>
          <ng-template #remove>
            <button type="button" class="btn btn-primary" (click)="unfollow()" style="width:100%">
                <i class="material-icons">remove_from_queue</i> Unfollow
              </button>
          </ng-template>
      </div>

      <br>

      <!-- following -->
      <div #followingContainer id="following" class="card bg-light" *ngIf="userProfile">
        <div class="card-header bg-light">
          <h5>Following</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <!--display-flex justify-content-center">-->
            <div class="col-xs-4" *ngFor="let foll of userProfile.getFollowing() | slice:0:5">
              <div class="card ml-2 mr-2 mb-2">
                <a routerLink="/user/{{ foll.id }}">
                  <div class="card-img-top">
                    <img class="rounded mx-auto img-thumbnail st-follower-thumbnail" src="{{ foll.profileImageUrl }}"
                         width="100%" height="auto"/>
                  </div>
                  <div class="card-title mb-0 text-center">
                    <small>{{ foll.username }}</small>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <a routerLink="following"><small class="text-muted">View all >></small></a>
          </div>
        </div>
      </div>


      <!-- followers -->
      <div #followersContainer id="followers" class="card bg-light" *ngIf="userProfile">
        <div class="card-header bg-light">
          <h5>Followers</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <!--display-flex justify-content-center">-->
            <div class="col-xs-4" *ngFor="let follower of userProfile.getFollowers() | slice:0:5">
              <div class="card ml-2 mr-2 mb-2">
                <a routerLink="/user/{{ follower.id }}">
                  <div class="card-img-top">
                    <img class="rounded mx-auto img-thumbnail st-follower-thumbnail" src="{{ follower.profileImageUrl }}"
                         width="100%" height="auto"/>
                  </div>
                  <div class="card-title mb-0 text-center">
                    <small>{{ follower.username }}</small>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <a routerLink="followers"><small class="text-muted">View all >></small></a>
          </div>
        </div>
      </div>
    </div>

    <!-- desktop view - left side displays playlist, recent activity and reviews -->
    <div class="col-sm-8" *ngIf="userProfile">

      <!-- playlist -->
      <div #playlist class="card bg-light">
        <div class="card-header bg-light">
          <h4>Watchlist</h4>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-3" *ngFor="let movie of userProfile.getWatchlist().getMovies() | slice:0:5">
              <div class="st-thumbnail">
                <a routerLink="/movie/{{ movie.movieId }}">
                  <img class="st-thumbnail-img" src="{{ movie.poster }}"/>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <a routerLink="playlist/{{ userProfile.getWatchlist().getId() }}"><small class="text-muted">View all >></small></a>
          </div>
        </div>
      </div>

      <!-- recent activity and reviews -->
      <div #activityTabs id="activityTabs" class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" data-target="#recentActivityTab">Recent Activity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" data-target="#reviewsTab">Reviews</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">

            <!-- recent activity -->
            <div class="tab-pane active container" id="recentActivityTab">
              <div *ngFor="let activity of userProfile?.getRecentActivity()">
              <div class="media pt-3 pb-3 border-bottom">
                <a routerLink="/movie/1">
                  <!--<img class="d-flex align-self-center mr-3"
                     src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjE4NTA1NzExN15BMl5BanBnXkFtZTYwNjc3MjM3._V1_SX300.jpg"
                       height="100px" width="auto">-->
                    <img class="d-flex align-self-center mr-3" height="100px" width="auto"
                      src="{{ activity.img }}">
                </a>
                <div class="media-body"><!-- Make this stuff programmatic too -->
                  <p class="text-left">{{ userProfile?.getUsername() }} {{ getActionFromActivityType(activity.type) }}
                    <a routerLink="/movie/{{activity.movieId}}">{{ activity.title }}</a>
                  <br/>
                  </p>
                  <!--<p class="text-muted text-right"><small>18h ago</small></p>-->
                  <p class="text-muted text-right"><small>{{ getActivityDisplayDate(activity.timestamp) }}</small></p>
                </div>
              </div>

              <!--<div class="media pt-3 pb-3 border-bottom">
                <a routerLink="/movie/1">
                  <!--<img class="d-flex align-self-center mr-3"
                     src="https://images-na.ssl-images-amazon.com/images/M/MV5BOGZhM2FhNTItODAzNi00YjA0LWEyN2UtNjJlYWQzYzU1MDg5L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg"
                       height="100px" width="auto">-->
                  <!--<img class="d-flex align-self-center mr-3" height="100px" width="auto"
                     src="{{ activity.img }}">
                </a>
                <div class="media-body">
                  <p class="text-left">{{ userProfile?.getUsername() }} suggested
                    <a routerLink="/movie/1">Shrek</a> to <a routerLink="/user/1">shreksy_lexy</a>
                  </p>
                  <!--<p class="text-muted text-right"><small>3d ago</small></p>-->
                  <!--<p class="text-muted text-right"><small>{{ getActivityDisplayDate(activity.timestamp) }}</small></p>
                </div>
              </div>-->
              <!--</div>-->
            </div>
            </div>

            <!-- reviews -->
            <div class="tab-pane container" id="reviewsTab">
              <div class="card-body">

                <!--<div class="row mt-3 border-bottom" *ngFor="let review of userProfile?.getReviews() | slice:0:3">-->
                  <!--<app-review [review]="review"></app-review>-->
                <!--</div>-->
              <!--</div>-->


                <!-- static UI --><!-- make this programmatic once you get a Reviews data model from backend -->
                <div class="row mt-3 border-bottom">
                  <div class="media">
                    <div class="card ml-2 mr-2 mb-2">
                      <a routerLink="/movie/1">
                        <div class="card-img-top">
                          <img class="rounded mx-auto img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/M/MV5BOGZhM2FhNTItODAzNi00YjA0LWEyN2UtNjJlYWQzYzU1MDg5L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg"
                               width="150px" height="auto"/>
                        </div>
                      </a>
                    </div>
                    <div class="media-body ml-3">
                      <h5 class="mt-0">Cool movie</h5>
                      <h6>8 / 10</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin urna sem, porta mattis ipsum dignissim id. Maecenas rutrum, mauris et fermentum consectetur, purus lectus tincidunt est, non faucibus dui diam sed mauris. Integer nec urna justo. Suspendisse feugiat turpis ac nisl mollis convallis. Duis nec mi molestie, tempus ipsum nec, dapibus ipsum. Proin vulputate elementum mauris, non maximus nulla ornare a. In porttitor justo libero, eget eleifend libero eleifend tempor. Aenean et dapibus elit.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="row mt-3 border-bottom">
                  <div class="media">
                    <div class="card ml-2 mr-2 mb-2">
                      <a routerLink="/movie/1">
                        <div class="card-img-top">
                          <img class="rounded mx-auto img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcxOTQwMTQ3MF5BMl5BanBnXkFtZTcwMDcyOTQwNw@@._V1_SX300.jpg"
                               width="150px" height="auto"/>
                        </div>
                      </a>
                    </div>
                    <div class="media-body ml-3">
                      <h5 class="mt-0">Review Title</h5>
                      <h6>10 / 10</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin urna sem, porta mattis ipsum dignissim id. Maecenas rutrum, mauris et fermentum consectetur, purus lectus tincidunt est, non faucibus dui diam sed mauris. Integer nec urna justo. Suspendisse feugiat turpis ac nisl mollis convallis. Duis nec mi molestie, tempus ipsum nec, dapibus ipsum. Proin vulputate elementum mauris, non maximus nulla ornare a. In porttitor justo libero, eget eleifend libero eleifend tempor. Aenean et dapibus elit.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              <!--<div class="card-footer">-->
                <!--<div class="text-right">-->
                  <!--<a routerLink="reviews"><small class="text-muted">View all >></small></a>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
      </div>
    </div>
  </div>

  <!--&lt;!&ndash; mobile view &ndash;&gt;-->
  <!--<div class="col-xs-12 hidden-sm hidden-md hidden-lg">-->
    <!--<ng-container ngTemplateOutlet="userInfoContainer">-->

    <!--</ng-container>-->

  <!--</div>-->
</div>
</div>
</div>
