div.col-sm-8, div.col-sm-4 {
    border: 1px solid lightslategray;
}

.table-fixed thead {
    width: 97%;
  }
  .table-fixed tbody {
    height: 230px !important;
    overflow-y: scroll;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }

