<div class="container">
  <div class="row">
    <div class="col">
      <h2>Account Settings</h2>
    </div>
  </div>

  <form class="justify-content-center p-2" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>

    <div class="form-row">
      <div class="form-group col-12 col-sm-3">
        <div class="form-row">
          <div class="col-12" style="text-align: center">
            <img class="img-fluid" src="http://lorempixel.com/200/300">
          </div>
        </div>
        <div class="form-row">
          <div class="col-12" style="text-align: center">
            <input type="button" class="btn btn-sm btn-outline-primary mt-1" value="Change photo">
          </div>
        </div>
      </div>
      <div class="form-group col-12 col-sm-9">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control"  id="inputUsername" [(ngModel)]="user.username" name="username" [value]="name"> 
        <br>
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control"  id="inputEmail" [(ngModel)]="user.email" name="email" [value]="name">
        <br>
        <label for="inputEmail">Bio</label>
        <input type="text" class="form-control"  id="inputBio" [(ngModel)]="user.bio" name="bio" [value]="name">
        <br>
        <label for="streamService">Preferred Streaming Service</label>
        <br>
        <select id="streamService" class="form-control" [(ngModel)]="user.preferredService" name="preferredService" [value]="name">
            <option value="netflix">Netflix</option>
            <option value="hulu">Hulu</option>
            <option value="amazon">Amazon Video</option>
            <option value="youtube">Youtube RED</option>
            <option value="hbo">HBO</option>
            <option value="showtime">Showtime</option>
            <option value="xfinity">Xfinity</option>
        </select>
        <br>
        <div class="form-row">
          <div class="col-6">
        <label for="inputFirstname">First Name</label>
        <input type="text" class="form-control" id="inputFirstname" [(ngModel)]="user.firstName" name="firstName" [value]="name">
        </div>
        <div class="col-6">
        <label for="inputLastname">Last Name</label>
        <input type="text" class="form-control" id="inputLastname" [(ngModel)]="user.lastName" name="lastName" [value]="name">
        </div>
        </div>
        <br>
        <label for="inputNewPassword">New Password</label>
        <input type="password" class="form-control" id="inputNewPassword">
        <label for="inputConfirmPassword">Confirm New Password</label>
        <input type="password" class="form-control" id="inputConfirmPassword">
      </div>
    </div>

    <button type="button" class="btn btn-primary btn-block mt-2">Connect with Facebook</button>
    <div class="form-row">
      <div class="col-6">
        <button type="submit" class="btn btn-success btn-block mt-2">Save Changes</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />        
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-secondary btn-block mt-2">Cancel</button>
     </div>
    </div>
  </form>

</div>
